@import './normalize.css';
@import './blocks/page-main.css';
@import './blocks/control-panel.css';
@import './blocks/furniture-list.css';
@import './blocks/furniture-button.css';
@import './blocks/control-buttons.css';
@import './blocks/download-button.css';
@import './blocks/file-input.css';
@import './blocks/clear-button.css';
@import './blocks/delete-button.css';
@import './blocks/scheme.css';

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transform: scale(0);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}