.clear-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  
  background-color: lightcoral;
  cursor: pointer;
}

.clear-button:hover,
.clear-button:focus {
  background-color: rgb(233, 113, 113);
}