.delete-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  
  background-color: lightcoral;
  cursor: pointer;
}

.delete-button:hover,
.delete-button:focus {
  background-color: rgb(233, 113, 113);
}

.delete-button:disabled {
  background-color: rgb(251, 166, 166);
  cursor: auto;
}